//4 Base Colors

$mitra-blue: #00b1b3;
$mitra-pink: #f4645f;
$mitra-red: #A73430;
$mitra-lpink: #FF817D;
$mitra-lgreen: #5FF493;
$mitra-green: #20A74F;

//Typography

$mitra-heading-font-family: 'Miriam Libre','Source Sans Pro';
