//WELCOME page
.welcome-jumbo {
  background-image:url('images/topography.png');
  margin-top:30px;
  border-bottom:2px dashed #b7b7b7
}

.box-shadow-content-solid {
  background: #fff;
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.1);
  opacity: 1;
  width: 100%;
  height: 200px;
  max-height: 200px;
  padding: 20px;
}

.box-shadow-content {
  font-family: "Source Sans Pro";
  background: #fff;
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.1);
  border-radius: 3px;
  max-width: 500px;
  padding: 20px;
  margin: 10px;
}

.box-shadow-sidebar {
  font-family: "Source Sans Pro";
  background: #fff;
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.1);
  border-radius: 3px;
  max-width: 400px;
  padding: 10px;
  margin: 0px;
  right: 0px !important;
  height: 93vh;
  //margin-left: 60px;
  overflow: auto;
  -ms-overflow-style: none;

  scrollbar{
  -moz-appearance: none !important;
 }
}
.box-shadow-sidebar::-webkit-scrollbar {
  display: none;
}
.box-shadow-sidebar::-moz-scrollbar {
  display: none;
}

.box-textarea {
  border: none;
  outline: none;
  overflow: hidden;
  resize: none;
  width: 100%;
  max-width: 100%;
}

.nav-tabs {
  .active {
    a {
      color: white !important;
      background-color:#00b1b3 !important;
    }
  }
}
.box-shadow-profile {
  background: #fff;
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.1);
  opacity: 1;
  width: 100%;
  max-height: 600px;
  padding: 20px;
  margin-top:10px;
  max-width:600px;
}

.box-shadow-full-height {
  background: #fff;
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.1);
  opacity: 1;
  width: 100%;
  padding: 20px;
  margin-top:10px;
  max-width:600px;
}

.box-shadow-feed {
  z-index: 1000;
  background: #fff;
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.1);
  opacity: 1;
  width: 100%;
  padding: 20px;
  margin:10px;
  margin-top: 15px;
  max-width:500px;
  min-height: 100px;

  border-radius: 5px 5px 0px 0px;
  -moz-border-radius: 5px 5px 0px 0px;
  -webkit-border-radius: 5px 5px 0px 0px;
  border: 0px solid #000000;
}

.img-circle:hover {
  cursor: pointer;
}

.black-search {
  border: 1px solid  #e6dee1 ;
  width: 550px;
  max-width: 50%;
  padding: 3px;
}

.black-search:focus {
  border: 1px solid #888687 ;
}

.profile-search {
  margin: 2px;
  padding: 5px;
}

.equal {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.pink_line {
    background: $mitra-pink;
    height: 2px;
    width: 16px;
    margin: 8px 0;
}

.center-div {
  display:flex;
  justify-content:center;
  align-items:center
}

.modal-header {
  background-color: $mitra-lpink
}

.modal-footer {
  background-color:  #fbddec
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 2em;
    height: 2em;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.feed-control {
  padding: 20px;
  padding-bottom: 0px;
  display: inline-block;
  cursor: auto;
}

.comment-show {
  background: #EFF1F5;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  z-index:1;
  -webkit-box-shadow: 0px 16px 38px -10px rgba(0,0,0,0.16);
  -moz-box-shadow: 0px 16px 38px -10px rgba(0,0,0,0.16);
  box-shadow: 0px 16px 38px -10px rgba(0,0,0,0.16);
  opacity: 1;
  width: 100%;
  padding: 20px;
  margin: 10px;
  margin-top: -9px;
  max-width:500px;
  min-height: 100px;
  border-radius: 0px 0px 5px 5px;
  -moz-border-radius: 0px 0px 5px 5px;
  -webkit-border-radius: 0px 0px 5px 5px;
}

.liked {
  color: $mitra-pink
}

.comment-box {
  --border-radius: 53px 53px 53px 53px;
  --moz-border-radius: 53px 53px 53px 53px;
  --webkit-border-radius: 53px 53px 53px 53px;
  border: 0px solid #000000;

  background: #fff;
  height: 40px;
}

.comment-textarea {
  border: none;
  outline: none;
  overflow: hidden;
  resize: none;
  width: 100%;
  max-width: 100%;
  border-radius: 20px;
  height: 40px;
  padding: 9px;
}
