.title {
  font-weight: 700;
}

.title-light {
  font-weight: 500;
}

.title-lighter {
  color: #707274
}

.modal-title {
  color:#fff
}

.fa-user-plus-add {
  color: $mitra-blue;
  position: absolute;
}

.logo {
  padding: 1px;
}
